language: go
sudo: false

go:
  - 1.7
  - 1.8  
  - 1.9
  - 1.10
  - tip

os:
  - linux
  - osx
  
install:
  - go get -t ./...

script: 
  - go test -short -v ./...
  - go build -v ./...
  - ./e2e.sh

after_success: |
  test "$TRAVIS_OS_NAME" = "linux" -a -n "$TRAVIS_TAG" \
  && go get github.com/goreleaser/goreleaser \
  && goreleaser
