# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
docker-image: &docker-image circleci/golang:1.22
version: 2
jobs:
  lint:
    docker:
      - image: *docker-image
    working_directory: /go/src/github.com/issmirnov/zap
    steps:
      - checkout
      - run: diff -u <(echo -n) <(go fmt $(go list ./...))
      - run: go vet $(go list ./...)
      - run: go test -short -v ./... -race -coverprofile=coverage.txt -covermode=atomic ./cmd
      - run: go get -v -t -d ./...
  build_and_test:
    docker:
      # specify the version
      - image: circleci/golang:1.22

    working_directory: /go/src/github.com/issmirnov/zap
    steps:
      - checkout
      - run: go build -o zap -v ./cmd/
      - run: go test -short -v ./... -race -coverprofile=coverage.txt -covermode=atomic ./cmd
      - run: go test -v ./...
      - run: ./e2e.sh
  release:
    docker:
      - image: cimg/go:1.22
    steps:
      - checkout
      - run: curl -sfL https://goreleaser.com/static/run | bash

workflows:
  version: 2
  build_and_test:
    jobs:
      - lint
      - build_and_test
  main:
    jobs:
      - release:
          # Only run this job on git tag pushes
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
